/* TODO: Refactor */
@font-face {
    font-family: "Silkscreen Regular";
    src: url("../fonts/Silkscreen-Regular.ttf");
}

@font-face {
    font-family: "Silkscreen Bold";
    src: url("../fonts/Silkscreen-Bold.ttf");
}

.root .label, #settings-screen .label, #settings-screen .text-field, #settings-screen .button {
    -fx-font-size: 16px;
}

.label, .text-field, .button {
    -fx-font-family: "Silkscreen Regular";
}

.header-label {
    -fx-font-family: "Silkscreen Bold";
}

#root {
    -fx-background-color: linear-gradient(from 0% 0% to 3% 3%, repeat, #121212 0%, #121212 50%, #131313 50%, #131313 100%);
    -fx-effect: innershadow(gaussian, #000000, 15, 0, 0, 0);
}

.button {
    -fx-background-insets: 0;
    -fx-padding: 0;
}
.button:hover {
    -fx-cursor: hand;
}

.image-button {
    -fx-background-color: transparent;
}

#settings-button{
    -fx-graphic: url("../imgs/settings-icon-24.png");
    -fx-effect: dropshadow(gaussian, #FFFFFF3F, 15, 0, 0, 0);
    -fx-opacity: 0.95;
}
#settings-button:hover {
    -fx-graphic: url("../imgs/settings-icon-hover-24.png");
    -fx-effect: dropshadow(gaussian, #000000, 10, 0, 0, 0);
}

#game-interface {
    -fx-padding: 25px;
}

#game-interface .label {
    -fx-text-fill: #FFFFFFF2;
    -fx-effect: dropshadow(gaussian, #FFFFFF3F, 15, 0, 0, 0);
}
#game-interface .label:hover {
    -fx-text-fill: #DDDDDDF2;
    -fx-effect: dropshadow(gaussian, #000000, 10, 0, 0, 0);
}

#playerOneRacket, #playerTwoRacket, #ball {
    -fx-effect: dropshadow(gaussian, #FFFFFF3F, 15, 0, 0, 0);
}

/* SETTINGS VIEW */
#settings-screen {
    -fx-background-color: #131313;
    -fx-effect: innershadow(gaussian, #000000, 15, 0, 0, 0);
    -fx-padding: 25px;
}

#settings-screen .label {
    -fx-text-fill: #FFFFFFF2;
    -fx-effect: dropshadow(gaussian, #FFFFFF3F, 15, 0, 0, 0);
}
#settings-screen .label:hover {
     -fx-text-fill: #DDDDDDF2;
     -fx-effect: dropshadow(gaussian, #000000, 10, 0, 0, 0);
}

#settings-screen .text-field {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2px 0;
    -fx-border-color: #FFFFFFF2;
    -fx-effect: dropshadow(gaussian, #FFFFFF3F, 15, 0, 0, 0);
    -fx-text-fill: #8E8E8EF2;
    -fx-highlight-fill: #CDD3A13F;
}

#settings-screen .button {
    -fx-background-color: #FFFFFFF2;
    -fx-effect: dropshadow(gaussian, #FFFFFF3F, 5, 0, 0, 0);
    -fx-padding: 5px 25px;
}
#settings-screen .button:hover {
    -fx-background-color: #FFFFFFBF;
    -fx-effect: dropshadow(gaussian, #000000, 10, 0, 0, 0);
}

#game-end-screen {
    -fx-padding: 25px;
    -fx-background-color: #00000047;
}
#game-end-screen .label {
    -fx-text-fill: #FFFFFFF2;
    -fx-effect: dropshadow(gaussian, #FFFFFF3F, 5, 0, 0, 0);
}
#game-end-screen .label:hover {
    -fx-text-fill: #DDDDDDF2;
    -fx-effect: dropshadow(gaussian, #000000, 10, 0, 0, 0);
}
#game-end-screen .highlighted-label {
    -fx-text-fill: #DDDDDDF2;
    -fx-background-color: rgba(28, 28, 28, 0.95);
    -fx-effect: dropshadow(gaussian, #000000, 10, 0, 0, 0);
    -fx-padding: 10px 20px;
}

#restart-game-button {
    -fx-graphic: url("../imgs/reload-icon-32.png");
    -fx-effect: dropshadow(gaussian, #FFFFFF3F, 15, 0, 0, 0);
    -fx-opacity: 0.95;
}
#restart-game-button:hover {
    -fx-graphic: url("../imgs/reload-icon-hover-32.png");
    -fx-effect: dropshadow(gaussian, #000000, 10, 0, 0, 0);
}